@page "/"
@using Volo.Abp.MultiTenancy
@inherits Formula1DashboardComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="row">
	<DriverComponent></DriverComponent>
</div>