.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: inherit;
}

    .scrolling-wrapper::-webkit-scrollbar {
        display: flexbox;
    }

    .scrolling-wrapper .card {
        position: relative;
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        margin-left: 10px;
    }
    /*.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    display: flex;  eklenen satır 
}
.scrolling-wrapper .card {
    flex-shrink: 0;  eklenen satır 
    width: 200px;  istediğiniz genişlik 
    margin-right: 5px;
}*/

    .scrolling-wrapper::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrolling-wrapper::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    .scrolling-wrapper::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
    }

        .scrolling-wrapper::-webkit-scrollbar-thumb:hover {
            background-color: #999999;
        }


.shrink {
    transition: all .2s ease-in-out;
}

    .shrink:hover {
        transform: scale(0.9);
    }
